body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin: auto;
    margin-top: 10%;
}

.resultsHead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35%;
    font-weight: 700;
    font-size: 32px;
}

