body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin: auto;
    margin-top: 45%;
}

